---
import { getCollection } from 'astro:content'

import Base from '@/layouts/Base.astro'

const allPosts = await getCollection('posts')
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())]
---

<Base meta={{ title: 'Tags' }}>
  <h2 class="text-2xl font-medium tracking-wide text-accentColor w500:text-lg">
    Tags
  </h2>

  <div class="mt-4 flex flex-wrap gap-5">
    {
      tags.map((tag) => (
        <a
          class="inline-block text-lg underline w500:text-sm"
          href={`/tags/${tag}`}
        >
          #{tag}
        </a>
      ))
    }
  </div>
</Base>
