---
import Base from '../layouts/Base.astro'
---

<Base meta={{ title: 'About' }}>
  <h2 class="w500:text-lg text-2xl font-medium tracking-wide text-accentColor">
    About
  </h2>

  <div class="w500:text-sm w500:leading-[2.2] mt-4 tracking-wide">
    <p>This is my blog, it's so cool and stuff</p>
  </div>
</Base>
