<nav class="flex h-[90px] items-center justify-between">
  <a class="transition-colors hover:text-accentColor" href="/">
    <h2 class="text-3xl font-medium">Minimal</h2>
  </a>

  <div class="flex items-center text-lg">
    <a class="mr-10 transition-colors hover:text-accentColor" href="/tags"
      >Tags</a
    >
    <a class="transition-colors hover:text-accentColor" href="/about">About</a>
  </div>
</nav>
