---
import ThemeSwitcher from './ThemeSwitcher.astro'
---

<nav
  class="w500:flex-col w500:py-4 w500:h-[110px] flex h-[90px] items-center justify-between"
>
  <a class="transition-colors hover:text-accentColor" href="/">
    <h2 class="w500:text-2xl text-3xl font-medium">Minimal</h2>
  </a>

  <div class="w500:text-base flex items-center text-lg">
    <a class="mr-10 transition-colors hover:text-accentColor" href="/tags"
      >Tags</a
    >
    <a class="mr-10 transition-colors hover:text-accentColor" href="/about"
      >About</a
    >

    <ThemeSwitcher />
  </div>
</nav>
