---
import ThemeSwitcher from '@/components/ThemeSwitcher'
---

<nav
  class="flex h-[90px] items-center justify-between w500:h-[110px] w500:flex-col w500:py-4"
>
  <a class="transition-colors hover:text-accentColor" href="/">
    <h2 class="text-3xl font-medium w500:text-2xl">Minimal</h2>
  </a>

  <div class="flex items-center text-lg w500:text-base">
    <a class="mr-10 transition-colors hover:text-accentColor" href="/tags"
      >Tags</a
    >
    <a class="mr-10 transition-colors hover:text-accentColor" href="/about"
      >About</a
    >

    <ThemeSwitcher client:load />
  </div>
</nav>
