---
import config from '@/config'
import { ViewTransitions } from 'astro:transitions'

import BaseHead from '@/components/BaseHead.astro'
import Nav from '@/components/Nav.astro'
import Footer from '@/components/Footer.astro'

import '@fontsource/sora/400.css'
import '@fontsource/sora/500.css'
import '@fontsource/sora/700.css'

const {
  meta: { title, description = config.description }
} = Astro.props
---

<html lang={config.lang}>
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />
  </head>
  <body
    class="mx-auto max-w-[900px] bg-lightModeBg px-5 text-lightModeText scrollbar scrollbar-thumb-accentColor dark:bg-darkModeBg dark:text-darkModeText"
  >
    <Nav />
    <main
      class="min-h-[calc(100dvh-90px-70px)] py-10 w500:min-h-[calc(100dvh-110px-70px)]"
    >
      <slot />
    </main>
    <Footer />

    <script>
      import config from '@/config'

      function colorMode() {
        if (
          localStorage.theme === 'dark' ||
          (!('theme' in localStorage) &&
            window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
          document.documentElement.classList.add('dark')
          document.documentElement.setAttribute(
            'data-theme',
            config.themes.dark as string
          )
        } else {
          document.documentElement.classList.remove('dark')
          document.documentElement.setAttribute(
            'data-theme',
            config.themes.light as string
          )
        }
      }

      colorMode()
      document.addEventListener('astro:after-swap', colorMode)
    </script>
  </body>
</html>
