---
import config from '../config'
import BaseHead from '../components/BaseHead.astro'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'

import '@fontsource/sora/400.css'
import '@fontsource/sora/500.css'
import '@fontsource/sora/700.css'

const {
  meta: { title, description = config.description },
} = Astro.props
---

<html lang={config.lang}>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class="scrollbar scrollbar-thumb-accentColor mx-auto max-w-[900px] bg-lightModeBg px-5 text-lightModeText dark:bg-darkModeBg dark:text-darkModeText"
  >
    <Nav />
    <main
      class="w500:min-h-[calc(100dvh-110px-70px)] min-h-[calc(100dvh-90px-70px)] py-10"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
