---
import Base from './Base.astro'
const { frontmatter } = Astro.props
import '../global.css'
import PostInfo from '../components/PostInfo.astro'
---

<Base meta={{ title: frontmatter.title }}>
  <div
    class="w500:prose-h1:text-xl w500:prose-h2:text-lg w500:prose-h3:text-base w500:prose-h4:text-sm w500:prose-h5:text-sm w500:prose-h6:text-sm w500:text-sm w400:text-xs w400:leading-[2.2] w500:leading-[2.2] prose prose-lightMode w-full min-w-full leading-loose tracking-wide text-lightModeText dark:prose-darkMode prose-headings:font-medium prose-headings:text-accentColor prose-a:text-lightModeText prose-blockquote:text-lightModeText prose-strong:text-lightModeText prose-ol:text-lightModeText prose-ul:text-lightModeText prose-table:text-lightModeText prose-tr:text-lightModeText prose-td:text-lightModeText dark:text-darkModeText dark:prose-a:dark:text-darkModeText dark:prose-blockquote:text-darkModeText dark:prose-strong:text-darkModeText dark:prose-ol:text-darkModeText dark:prose-ul:text-darkModeText dark:prose-table:text-darkModeText dark:prose-tr:text-darkModeText dark:prose-td:text-darkModeText"
  >
    <PostInfo
      title={frontmatter.title}
      date={frontmatter.pubDate}
      tags={frontmatter.tags}
    />
    <slot />
  </div>
</Base>
